@model SchoolManager.Site.Models.ConfirmVM

@using (Html.BeginForm(Model.Action, Model.Controller, new { Model.Id }, FormMethod.Post))
{
    <div class="modal-body">
        <div id="message-error" class="alert alert-danger" style="display:none"></div>
        <p>@Model.Message</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Confirmar</button>
    </div>
}
