@{
    ViewBag.Title = "SCA - Principal";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container">
    <div id="jumbotron-home" class="jumbotron">
        <h1>Bem vindo ao SCA Running</h1>
        <p>Sistema de controle acadêmico capaz de manter os dados de escolas e turmas.</p>
    </div>
</div>
